body {
    margin: 0;
    font-family: 'Bowlby One SC', cursive;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
}

header .lista_menu {
  display: flex;
}

header .lista_menu li {
  list-style: none;
  margin-right: 15px;
}

header .lista_menu li a  {
  text-decoration:none;
}

.contenedor {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

header {
  background: linear-gradient(rgba(84, 93, 220,.7), rgba(96, 171, 245, .7)), url(Imagenes/fondo1.jpg);
  height: 100vh;
  background-size: cover;
}

.contenedor1 {
  display: flex;
  justify-content: center;
  font-family: 'Special Elite', cursive;
  margin: 18vh  0;
}

h1 {
  font-size: 60px;
  color: #fff;
  margin: 0px;
}

h2 {
  font-size: 25px;
  color: #fff;
  text-align: center;
}

.contenedor1_titulo {
  text-align: center;
}
/*ESTILOS PARA BOTONES*/
.contenedor1 a, #Sobre_mi a, #blog a, #que_esperas a, #contacto input[type="submit"] {
  font-size: 20px;
  color: #fff;
  background: #5cb8ff;
  padding: 14px 24px;
  text-decoration: none;
  width: 128px;
  display: inline-block;
  font-family: 'Baloo', cursive;
}

.logo {
  color: #fff;
  font-size: 35px;
}

.lista_menu {
  color: #4F398E;
}
/*Seccion Sobre_mi*/
h3 {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
}
 #Sobre_mi .contenedor_sobre_mi{
   display: flex;
   justify-content: space-around;
 }

 #Sobre_mi .descripcion {
    width: 42%;
 }

/*Seccion Servicios*/
.contenedor-Servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Servicio {
  width: 24%;
  padding: 34px 30px 38px 30px;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
}

.Servicio h4 {
  font-size: 30px;
  margin: 0;
}

.Servicio p {
  margin-bottom: 20px;
  height: 194px;
}

.contenedor-Servicios .violeta {
  background-image: linear-gradient(to top, #5055df, #6d68f3);
  box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37);
}

.contenedor-Servicios .celeste {
  background-image: linear-gradient(to top, #40a8f9, #5cb8ff);
  box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .3);
}

.ondas {
  position: absolute;
  left: 0;
  bottom: 0;
}
.icono {
  float: right;
}
/*Seccion mis_trabajos*/
button.owl-prev, button.owl-next {
  font-size: 40px !important;
}

 span {
   color: #71bcfa;
 }

 /*SECCION PORQUE TRABAJAR CONMIGO*/
.contenedor_trabajar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

 #Por_que_trabajar .item {
   width: 28%;
   text-align: center;
 }

#Por_que_trabajar ul li {
  list-style: none;
}

#Por_que_trabajar ul li:nth-child(2) {
  font-weight: bold;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 20px;
}

#Por_que_trabajar ul li:nth-child(3) {
  line-height: 31px;
}
/*SECCION PORQUE TRABAJAR CONMIGO*/

/*SECCION BLOG*/

#blog {
    background: #F9FAFC;
}

#blog .contenedor_publicaciones {
  display: flex;
  justify-content: space-around;
}

#blog .publicacion {
  width: 30%;
  box-shadow: 1px 1px 14px #ccc;
}

#blog img {
  width: 100%;
  height: 40%;
}

#blog .contenido {
  background: #fff;
  padding: 20px;
}

#blog h4 {
  font-size: 23px;
  margin-bottom: 15px;
  margin: 0;
}

#blog p {
  color: #5A6169;
  line-height: 24px;
  font-size: 16px;
}

#blog a {
    width: 110px;
}
/*SECCION BLOG*/

/*SECCION QUE ESPERAS*/
#que_esperas {
  background: linear-gradient(rgba(84, 93, 220, .94),rgba(96, 171, 245, .9));
  text-align: center;
  padding: 50px 0px;
  margin-top: 40px;
}

#que_esperas h3 {
  font-size: 23px;
  color: #fff;
}
/*SECCION QUE ESPERAS*/

/*SECCION DE CONTACTO*/
#contacto form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 77%;
  margin: auto;
}

input[type="text"], input[type="email"] {
  width: 49%;
  margin-bottom: 15px;
  padding: 18px 0;
  border: 0;
  border-bottom: 1px solid #5cb8ff;
  font-size: 17px
}

textarea {
  padding: 18px 0;
  border: 0;
  border-bottom: 1px solid #5cb8ff;
  font-size: 17px;
  margin-bottom: 40px;
  width: 100%;
}
#contacto input[type="submit"] {
  width: 20%;
  margin: auto;
}

.contacto-info {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.contacto-info img {
  vertical-align: middle;
  margin-right: 10px;
}

footer {
  background: #2f2f2f;
  padding: 40px 0;
  text-align: center;
  margin-top: 40px;
}

footer .contenedor8 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer img {
  margin: 0 40px;
  transform: rotate(0);
  transition: 0.4s;
}

footer img:hover {
  transform: rotate(360deg);
  transition: 0.4s;
}

footer p {
  color: #fff;
  margin-top: 40px;
}
/*SECCION DE CONTACTO*/
#whatsapp {
  position: fixed;
  top: 80%;
  right: 1%;
}
